*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "h"
    "m"
    
    
}
header{
    grid-area: h;
    background-color: black;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center
}

input{
    border-radius: 10px;
    height: 30px;
    background-color: white
   
}
header> input{
    font-size: 1rem;
}

a{
    border: 2px solid black ;
    padding: 10px 5px;
    border-radius: 42px;
    color: black;
    width: 200px;   
    margin-left: 540px;
    display: flex;
    justify-content: center 

}
